In [35]:
import pandas as pd
df = pd.read_csv('Traffic_Crashes_Subset.csv', low_memory=False)

In [36]:
df.head()

,Unnamed: 0,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,900310,960272,d87d2d5d4c14a2b77902cb50fc5bdd75b371f2dd40938f...,JD371190,09/18/2020 10:12:00 AM,1,DRIVER,NaN,910141.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,807245,927251,0a78409267a624c55ff56a39b6a7c7bdb03b371563863c...,JD313248,07/28/2020 06:00:00 PM,2,DRIVER,NaN,879087.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200857,293634,dde6ec22442964953b33a80706202d2411782cbb00c1ed...,JA569030,12/31/2017 02:00:00 PM,2,PARKED,NaN,284781.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,160080,2539,a4c972c5da81258bf0ca30e58f292e325b84936fd9421d...,HY429225,09/19/2015 01:15:00 AM,3,PARKED,NaN,2417.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,476611,567155,6c057612d731430ea358266bcd9e838c8c73674f851422...,JC123305,01/20/2019 07:00:00 AM,1,DRIVER,NaN,540885.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

`C:\Users\halpe\.conda\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (41,42,43,49,50,51,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)`

In [38]:
# 41, 42,43,49,50,51,60,62
df.iloc[:, [41, 42, 43, 49, 50,51, 60, 62]].columns

Index(['USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME',
       'UN_NO', 'WIDE_LOAD_I', 'TRAILER2_WIDTH'],
      dtype='object')